* {
    margin: 0;
    padding: 0;
}

.general {
    height: 10vh;
}
nav{
    display: flex;
}
.input {
    width: 60%;
}

.search_bar {
    width: 6%;
    height: 45px;
}

.search {
    width: 94%;
    height: 45px;
    outline: none;
    border: 1px solid rgb(134, 10, 123);
    font-size: large;
    padding: 0 0 0 10px;
}

.profile {
    width: 20%;
}

.profile img {
    width: 40px;
    height: 40px;

}

.profile h5:hover {
    color: #1dbf73;
}
.profile span:hover{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 100%;
}

.p_down {
    width: 15%;
    right: 25px;
    top:80px;
    height: 60%;
    line-height: 18px;
    display: none;
    background-color: white;
    box-shadow:  0px 0px 5px 0px black;
}
.p_down p{
    font-size: larger;
    font-weight: 450;
    color: rgb(104, 96, 96);
}
.p_down p:hover{
    color: #17d37b;
}
.p_drp:focus-within .p_down{
    display: block;
}
.btna{
    background-color: #1dbf7300;
}
.drpindrp {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(141, 125, 125);
}

.drpindrp p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    color: #746e6e;
}

.drpp:hover {
    text-decoration: 8px solid green underline;
    text-underline-offset: 15px;
}

.drpindrp p:hover {
    text-decoration: 2px solid green underline;
}

.drpp {
    font-family: sans-serif;
    font-size: large;
    /* overflow-x: scroll; */
}

.downaa {
    width: 95%;
    height: 90vh;
    /* display: none; */
    display: flex;
    visibility: hidden;
    z-index:6;
}

.downbb {
    width: 95%;
    height: 90vh;
    position: absolute;
    left: 30px;
    visibility: hidden;
    z-index:6;
}

.downcc {
    width: 75%;
    height: 90vh;
    position: absolute;
    left: 280px;
    visibility: hidden;
    z-index:6;
}

.downdd {
    width: 95%;
    height: 90vh;
    position: absolute;
    left: 30px;
    visibility: hidden;
    z-index:6;
}

.downee {
    width: 95%;
    height: 90vh;
    position: absolute;
    left: 30px;
    visibility: hidden;
    z-index:6;
}

.downff {
    width: 75%;
    height: 90vh;
    position: absolute;
    left: 280px;
    visibility: hidden;
    z-index:6;
}

.downgg {
    width: 95%;
    height: 90vh;
    position: absolute;
    left: 30px;
    visibility: hidden;
    z-index:6;
}

.downhh {
    width: 65%;
    height: 90vh;
    position: absolute;
    left: 450px;
    visibility: hidden;
    z-index:6;
}

.downii {
    width: 65%;
    height: 90vh;
    position: absolute;
    left: 450px;
    visibility: hidden;
    z-index:6;
}

.downjj {
    width: 75%;
    height: 90vh;
    position: absolute;
    left: 280px;
    visibility: hidden;
    z-index:6;
}

section[qq] {
    width: 25%;
    /* background-color: aquamarine; */
    height: 90vh;
    left: -10px;
}

section[qq] button {
    width: 55px;
    color: #ff62ad;
    border: 2px solid #ff62ad;
}

section[qq] p {
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    color: #746e6e;
}

.drpaa:hover .downaa {
    visibility: visible;
}

.drpbb:hover .downbb {
    visibility: visible;
}

.drpcc:hover .downcc {
    visibility: visible;
}

.drpdd:hover .downdd {
    visibility: visible;
}

.drpee:hover .downee {
    visibility: visible;
}

.drpff:hover .downff {
    visibility: visible;
}

.drpgg:hover .downgg {
    visibility: visible;
}

.drphh:hover .downhh {
    visibility: visible;
}

.drpii:hover .downii {
    visibility: visible;
}

.drpjj:hover .downjj {
    visibility: visible;
}
.sere{
    width: 100%;
}
.sere h1{
    font-size: 35px;
}
.fia{
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fiaa{
    width: 47%;
    height: 95%;
    border-radius: 10px;
    transition: all 0.ss linear;
    border: 1px solid gray;

}
.fiaa img{
    width: 100px;
}
aside h4{
    font-size: 20px;
}
.fiaa:hover{
    box-shadow: 0 0 3px 0 black;
}
.fib{
    display: flex;
    height: 65%;
}
.fiba{
    width: 20%;
    height: 95%;
}
.fiba img{
    border-radius: 10px;
    width: 90%;
    height: 40%;
}
img[aq]{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
p[aq]{
    font-weight: bold;
}
.fib section{
    font-weight: 400;
}
.fib section:hover{
    text-decoration: underline;
}
.fib h6{
    font-size: larger;
}
.caro{
    display: none;
}
.sa{
    width: 96%;
    display: flex;
    align-items: center;
    background-color: #fafafa;
}
.third{
    height: 50vh;
}
.tha{
    width: 95%;
    height: 241px;
}
img[sa]{
    height: 95%;
}
.second{
    display: flex;
}

.dddd{
    display: none;
}

.nineth{
    display: flex;
}
.naa{
    width: 20%;
    height: fit-content;
}
.naa p{
    color: rgb(138, 131, 131);
}
.naa p:hover{
    text-decoration:1px solid rgb(85, 83, 83) underline;
}
.tenth{
    width:100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
}

.tea{
    height: 10vh;
}

.teb{
    width: 45%;
    height: 10vh;
    display: flex;
}

.tebb{
    width: 35%;
}







@media(max-width:1115px){
    .p_down{
        width: 20%;
    }
    .dddd{
        display: block;
    }
    .nineth{
        display: none;
    }
}
@media(max-width:1100px){
    .fiba{
        width: 50%;
        margin-left: 30%;
        /* padding-left: 50%; */
    }
    .caro{
        display: block;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        background-color: #fafafa;
        height: fit-content;
    }
    .second{
        height: fit-content;
    }
    .fib{
        display: none;
    }
    .second{
        display: none;
    }
}
@media(max-width:1030px){
    .drpindrp{
        display: none;
    }
}
@media(max-width:900px){
    .fia{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .fiaa{
        height: 45%;
        width: 90%;
    }
    .profile span{
        display: none;
    }
    .p_down{
        width: 22%;
    }
}
@media(max-width:824px){
.tenth{
    display: block;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.teb{
    width: 90%;
}
}
@media(max-width:750px){
    .profile h5{
        display: none;
    }
    .p_down{
        width: 25%;
    }
}
@media(max-width:815px){
    .p_down{
        width: 25%;
    }
}
@media(max-width:723px){
    .p_down{
        width: 28%;
    }
}
@media(max-width:645px){
    .p_down{
        width: 30%;
    }
}
@media(max-width:601px){
    .p_down{
        width: 35%;
    }
}
@media(max-width:600px){
    .btna{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}

@media(max-width:685px){
    .teb{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .tebb{
        margin-top: 40px;
        width: 50%;
    }
    .teb{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .tea{
        margin: 0 0 0px 37px;
    }
}